<!-- start custom head snippets -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/poole/lanyon@ac85a3115c094b3e6cb92cc41771e98b443f6c5d/public/css/poole.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/poole/lanyon@ac85a3115c094b3e6cb92cc41771e98b443f6c5d/public/css/syntax.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/poole/lanyon@ac85a3115c094b3e6cb92cc41771e98b443f6c5d/public/css/lanyon.min.css">
<link rel="stylesheet" href="/assets/css/wu-kan.css">
<link rel="stylesheet" href="/assets/css/younglord.css">
<!--<script src="//cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!-- end custom head snippets -->
