@media (min-width: 70em) {
	body {
		background-image: url(/public/image/Niko_Sleeping.jpg);
   }
}
.masthead-title {
	color: #000000;
}
h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-family: monospace;
}
body {
	color: #181818;
}
strong {
	color: #181818;
}
blockquote {
	color: #252525;
	border-left: .3rem solid #1a1a1a;
}
.post-date {
	color: #223333;
}
.theme-base-0d .container a, .theme-base-0d .sidebar-toggle, .theme-base-0d .related-posts li a:hover {
	font-size: 85%;
	text-decoration: underline;
	color: rgb(119,240,255);
}
:not(pre) > code[class*="language-"] {
	color: #c7254e;
	border: none;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	background-color: rgba(255,255,255,.3);
	padding: 2px 4px;
	font-size: 80%;
	text-shadow: none;
}
.wrap {
	font-family: monospace;
	background-color: rgba(255,255,255,.4);
	backdrop-filter: blur(2.5px);
}
.sidebar {
	font-family: monospace;
}
td, th {
	background-color: rgba(255,255,255,0.4);
}
tbody tr:nth-child(odd) td
tbody tr:nth-child(odd) th {
	background-color: rgba(255,255,255,0.9);
}
