<div class="search search--dark">
  <div class="main">
    <div class="search__header">{{ _locale_search }}</div>
    <div class="search-bar">
      <div class="search-box js-search-box">
        <div class="search-box__icon-search"><i class="fas fa-search"></i></div>
        <input type="text" id="search-input-box" title="搜索博文-输入框"/>
        <div class="search-box__icon-clear js-icon-clear">
          <button type="button" title="清除搜索框"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <button class="button button--theme-dark button--pill search__cancel js-search-toggle" type="button">{{ _locale_cancel }}</button>
    </div>
    <div class="search-result js-search-result"></div>
  </div>
</div>
<script>{%- include search-providers/default/search.js -%}</script>
