<!-- start custom comments snippet -->
{%- if page.id -%}
<!--特殊界面只有手动设置才有id-->
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="f9fae777-b249-44e5-b3b9-c4e6747a54b0"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.baseurl }}{{ page.url }}"
  data-page-title="{{ page.title }}"
></div>
<script defer src="https://cusdis.com/js/widget/lang/zh-cn.js"></script>
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>
{%- endif -%}
<!-- end custom comments snippet -->
