---
layout: page
---
{{ content }}
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="f9fae777-b249-44e5-b3b9-c4e6747a54b0"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}"
></div>
<script defer src="https://cusdis.com/js/widget/lang/zh-cn.js"></script>
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>
<!--<div id="ArtalkComments"></div>
  <script>
  new Artalk({
    el: '#ArtalkComments', // 元素选择
    placeholder: '来啊，快活啊 ( ゜- ゜)', // 占位符
    noComment: '快来成为第一个评论的人吧~', // 无评论时显示
    pageKey: 'a-simple-test-page-233ihwq',
    serverUrl: 'http://lepov39051.gearhostpreview.com/Artalk_index.php',
    readMore: { // 阅读更多配置
      pageSize: 15, // 每次请求获取评论数
      autoLoad: true // 滚动到底部自动加载
    }
  });
  </script>-->
