{%- include snippets/get-locale-string.html key='LICENSE_ANNOUNCE' -%}
{%- assign _license_announce = __return -%}

{%- if include.license -%}

  {%-assign _license_name = '<a itemprop="license" rel="license" href="[URL]">[NAME]</a>' | replace: "[URL]", include.license.url | replace: "[NAME]", "CC-BY-SA 4.0" -%}
  <div class="license">
    <p>{{ _license_announce | replace: "[LICENSE]", _license_name }}（不硬性要求，但请勿转载至 CSDN 或简书）
      <a rel="license" href="{{ include.license.url }}">
<!--        <img alt="{{ include.license.name }}" src="{{ include.license.image }}" />-->
      </a>
    </p>
  </div>
{%- endif -%}
